.App {
  /* text-align: left; */
  font-family: Helvetica, Arial, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-container {
  padding-top: 5rem;
  background-color: #1D1D1D;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: left;
  justify-content: left; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

.custom-navbar  {
  background-color: #1D1D1D;
}
.textColor-primary {
  color: #FF2C2C;
}
.textColor-secondary {
  color: white;
}

.header-font-size {
  font-size: 4rem;
  font-weight: bold;
}

.text-align-left {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
